.respiro {
    height: 60px;
}

#btn-formulario-a{
    cursor: pointer !important;
}
/*CONFIGURAR COR, BORDA APENAS. DEMAIS CONFIGURAÇÕES CONFIGURAR NA MEDIA RESPECTIVA*/
.box {
    background-color: #ffffff;
    left: 50%;
    margin-right: -50%;
    /*GARANTE O FORMÚLARIO FIXO E SEMPRE A FRENTE DE TUDO*/
    position: fixed;
    z-index: 9000;
    border: 5px solid #007e72;

}
.box p{
    color:#007e72 !important;
}
.btn-close{
    background-color:rgba(0, 0, 0, 0) !important;
    border: none !important;
    cursor: pointer !important;
}
.btn-close:active, .btn-close:hover{
    border: none !important;
}
.efeito {
    background-color: #000;
    height: 906px;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4000;
}