@media (min-width: 992px) and (max-width: 1199px) {
    body {
        background-origin: content-box;
        background: url('../img/bg_fundo_mdd.jpg') no-repeat center top;
    }

    .box {
        border-radius: 20px;
        max-width: 340px;

        right: 60px;
        
    }

    .box p {
        color: #FFF;
        font-size: 20px;
        font-weight: bold;
        padding: 20px 20px;
        text-align: center;
    }

    .box form {
        padding-left: 20px;
        padding-right: 20px;
    }

    .dobra-a {
        margin-top:17rem !important;
    }
    
    .respiro-dobra-a{height: 78px;}
}